body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #a8d8ff, #d6f0ff);
    margin: 0;
    padding: 20px;
    min-height: 100vh;
}
#app {
    max-width: 700px;
    margin: 0 auto;
    background: white;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.20);
    border: 3px solid #73abff;
}
h1 {
    color: #1565c0;
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 25px 0;
}
#output {
    font-size: 28px;
    font-weight: bold;
    background: #f5f5f5;
    padding: 20px;
    margin: 25px 0;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #ddd;
    color: #333;
}
button {
    padding: 16px 28px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
    min-width: 130px;
    background-color: #cfcfcf;
    box-shadow: 0 5px 20px rgba(48, 48, 48, 0.4);
    cursor: pointer;
}
button:hover {
    transform: translateY(-3px);
}
#buy_btns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}
#close_container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
h2 {
    color: #639ce8;
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
#final {
    text-align: center;
    display: flex;
}
#final_text {
    color: #788cd5;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
#level_btns {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}
#leave_container {
    display: flex;
    justify-content: right;
}
#leave_btn {
    text-align: center;
}